@import 'tailwindcss';

@custom-variant dark (&:is([data-theme='dark'] *));
@custom-variant hocus (&:hover, &:focus);
@custom-variant hocus-within (&:hover, &:focus-within);
@theme {
	--font-family-serif: Times, serif;
	--font-family-sans: Helvetica, Arial, sans-serif;
	--color-*: initial;

	/* https://en.wikipedia.org/wiki/Web_colors */
	--color-white: color(display-p3 1 1 1);
	--color-gainsboro: color(display-p3 0.8627 0.8627 0.8627);
	--color-silver: color(display-p3 0.75 0.75 0.75);
	--color-darkgray: color(display-p3 0.6627 0.6627 0.6627);
	--color-gray: color(display-p3 0.5 0.5 0.5);
	--color-black: color(display-p3 0 0 0);

	--color-red: color(display-p3 1 0 0);
	--color-maroon: color(display-p3 0.5 0 0);
	--color-yellow: color(display-p3 1 1 0);
	--color-olive: color(display-p3 0.5 0.5 0);
	--color-lime: color(display-p3 0 1 0);
	--color-green: color(display-p3 0 0.5 0);
	--color-aqua: color(display-p3 0 1 1);
	--color-teal: color(display-p3 0 0.5 0.5);
	--color-blue: color(display-p3 0 0 1);
	--color-navy: color(display-p3 0 0 0.5);
	--color-fuchsia: color(display-p3 1 0 1);
	--color-purple: color(display-p3 0.5 0 0.5);

	--color-link: color(display-p3 0 0 0.9333);
	--color-visited: color(display-p3 0.3333 0.102 0.5451);
	--color-link-dark: var(--color-aqua);
	--color-visited-dark: color-mix(in srgb, var(--color-fuchsia), var(--color-white));

	--color-wheat: color(display-p3 0.9608 0.8706 0.702);
	--color-burlywood: color(display-p3 0.8706 0.7216 0.5294);
	--color-darkgoldenrod: color(display-p3 0.7216 0.5255 0.0431);
	--color-darkgreen: color(display-p3 0 0.3922 0);

	--font-size-xl: 1.25rem;
	--font-size-xl: clamp(1.25rem, 0.625vw + 1rem, 1.5rem);
	--font-size-xl--line-height: 1.75rem;
	--font-size-xl--line-height: clamp(1.75rem, 0.625vw + 1.5rem, 2rem);

	--font-size-2xl: 1.5rem;
	--font-size-2xl: clamp(1.5rem, 0.938vw + 1.125rem, 1.875rem);
	--font-size-2xl--line-height: 2rem;
	--font-size-2xl--line-height: clamp(2rem, 0.625vw + 1.75rem, 2.25rem);

	--font-size-3xl: 1.875rem;
	--font-size-3xl: clamp(1.875rem, 0.938vw + 1.5rem, 2.25rem);
	--font-size-3xl--line-height: 2.25rem;
	--font-size-3xl--line-height: clamp(2.25rem, 0.625vw + 2rem, 2.5rem);

	--font-size-4xl: 2.25rem;
	--font-size-4xl: clamp(2.25rem, 1.875vw + 1.5rem, 3rem);
	--font-size-4xl--line-height: 2.5rem;
	--font-size-4xl--line-height: clamp(2.5rem, 1.25vw + 2rem, 3rem);

	--font-size-5xl: 3rem;
	--font-size-5xl: clamp(3rem, 1.875vw + 2.25rem, 3.75rem);
	--font-size-5xl--line-height: 1;

	--font-size-6xl: 3.75rem;
	--font-size-6xl: clamp(3.75rem, 1.875vw + 3rem, 4.5rem);
	--font-size-6xl--line-height: 1;

	--font-size-7xl: 4.5rem;
	--font-size-7xl: clamp(4.5rem, 3.75vw + 3rem, 6rem);
	--font-size-7xl--line-height: 1;

	--font-size-8xl: 6rem;
	--font-size-8xl: clamp(6rem, 5vw + 4rem, 8rem);
	--font-size-8xl--line-height: 1;

	--font-size-9xl: 8rem;
	--font-size-9xl: clamp(8rem, 7.5vw + 5rem, 11rem);
	--font-size-9xl--line-height: 1;

	--width-prose: 40em;
}

* {
	outline-color: var(--color-blue);
}
[id] {
	scroll-margin-top: 4rem;
}
