@import 'tailwindcss';

@theme {
	--font-family-serif: 'Times New Roman', Times, ui-serif, serif;

	--color-*: initial;

	--color-white: white;
	--color-silver: silver;
	--color-gray: gray;
	--color-black: black;

	--color-red: red;
	--color-maroon: maroon;
	--color-yellow: yellow;
	--color-olive: olive;
	--color-lime: lime;
	--color-green: green;
	--color-aqua: aqua;
	--color-teal: teal;
	--color-blue: blue;
	--color-navy: navy;
	--color-fuchsia: fuchsia;
	--color-purple: purple;
}
